.post-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 5%;
    width: 100%;
}

.post-create-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding: 1% 3% 3% 3%;
    border-radius: 16px;
    box-shadow: 0 0 15px rgb(136 153 166 / 25%),
        0 0 3px 1px rgb(136 153 166 / 15%)
}

.user-header {
    font-family: 'Akaya Telivigala',
        cursive;
    letter-spacing: 3px;
    margin-left: 17%;
    margin-bottom: 25px;
}

.user-form-input {
    font-size: 16px;
    width: 100%;
    margin: 2px 0px 15px 0px;
}

.user-form-textarea {
    font-size: 16px;
    max-height: 150px;
    max-width: 100%;
    min-height: 100px;
    resize: vertical;
}

.user-form-dropdown {
    font-size: 16px;
    width: 100%;
    margin: 2px 0px 15px 0px;
}

.user-form-radio-container {
    font-size: 16px;
    margin: 2px 0px 15px 0px;
}

.user-form-radio {
    margin: 0px 3px 0px 10px
}


.post-update-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.update-item-container {
    width: 80%;
    margin: 1% 4% 2% 4%;
    padding: 1% 3% 3% 3%;
    border-radius: 16px;
    box-shadow: 0 0 15px rgb(136 153 166 / 25%),
        0 0 3px 1px rgb(136 153 166 / 15%)
}

.post-detail-text-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-overflow: clip;
    
}


.post-detail-text-container div {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
}

.post-detail-text-container p {
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
    white-space: pre-wrap;
}


.carousel-item {
    width: 100%;
    height: 100%;
}


.rec.rec-arrow{
    border-radius: 0;
}
.rec.rec-arrow:hover {
    border-radius: 50%;
}
.rec.rec-arrow:disabled {
    visibility: hidden;
}


.user-sidebar-donor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0% 5% 0% 1.5%;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    width: 230px;
    padding: 5% 5%;
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(136 153 166 / 25%),
        0 0 3px 1px rgb(136 153 166 / 15%);
}





@media (min-width: 481px) and (max-width : 1200px) {

.post-create-container{

width: 70%;
}

.rec.rec-arrow{
    display: none;
   }


}





@media (max-width : 480px) {

    .post-container {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .user-sidebar-donor {
        border-radius: 16px;
        width: 70%;
        margin-bottom: 1rem;

    }
    .rec.rec-arrow{
     display: none;
    }


    .carousel-item {
        height: 300px;
    }
    .update-item-container {
        width: 100%;
    }

.post-container{

    flex-direction: column-reverse;
    
}



}



.user-sidebar-donor-text {
    font-size: 13px;
}

.user-sidebar-donor-data {
    font-size: 23px;
    margin-top: 30px;
}

.hover-container {
    transition: all 0.2s ease-in-out;
}


.hover-container:hover {
    transform: scale(1.1);

}





