.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    background-color: teal;
    height: 50px;
}

.navLogo {
    display: flex;
    margin-left: 0.5%;
}

.navLogin {
    display: flex;
    margin-right: 1%;
}

.navLink {
    margin: 0px 5px 0px 5px;
}