.update-container {
    padding: 0% 15%;
    letter-spacing: 1px;
}

.update-title {
    margin: 5% 0px 1% 0%;
}

.update-details {
    padding: 1% 2%;
}


.landing-post-update-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0% 0% 0% 10%;
}


.landing-post-update-faded {
    margin: 1% 4% 2% 4%;
    padding: 1% 3%;
    border-radius: 16px;
    box-shadow: 0 0 15px rgb(136 153 166 / 25%),
        0 0 3px 1px rgb(136 153 166 / 15%)
}