.postContainer {
    margin: 4%;
    border: ridge 5px;
    padding: 1% 3%;
}

.postTitle {
    display: flex;
    justify-content: center;
    
    
}

.postFilterContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 5px;
    font-size: 15px;
}

.postFilter {
    margin: 0px 0.4%;
    letter-spacing: 1px;
}