.showContent {
    background-image: url('../../img/Landscape-Color.jpg');
    display: flex;
    justify-content: flex-end;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 1%;
}

.contentDetails {
    width: 500px;
    margin-top: 66%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    color: rgb(255, 255, 255);
}

.title {
    font-family: 'Lobster', cursive;
}