.showContent {
    background-image: url('../../img/Landscape-Color.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 1%;
}

.fadedBackground {
    background-color: rgba(23, 122, 146, 0.658);
    height: 500px;
    display: flex;
    justify-content: flex-end;
}

.contentDetails {
    width: 500px;
    margin: 50% 60px 0px 0%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    color: rgb(255, 255, 255);
}

.title {
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
}

.details {
    letter-spacing: 2px;
}