.showContent {
    background-image: url('../../img/Landscape-Color.jpg');
    display: flex;
    justify-content: flex-end;
    height: 500px;
}

.contentDetails {
    width: 500px;
    margin-top: 30%;
    text-align: center;
    justify-content: center;
}